body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  background-image: url(assets/img/heart.gif);
  background-size: 20%;
}

.center{
  text-align: center;
}

.resizeable-container{
  width: 650px;
  margin: 0 auto;
}

.size-small{
  zoom: 0.54;
  -moz-transform: scale(0.54);
}

.clock{
  margin: 50px 0 25px 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  font-size: 16px;
}

.jumbotron{
  margin-bottom: 0;
  padding-bottom: 40px;
}

.btn {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}


.clock {
position: relative !important;
padding-top: 0px;
/*margin-left: -194px;*/
/*height:100px;*/
/*width: 800px;*/
/zoom: .6;/
transform: scale(.54);
-ms-transform: scale(.54); /* IE 9 /
-webkit-transform: scale(.54); / Safari and Chrome /
-o-transform: scale(.54); / Opera /
-moz-transform: scale(.54); / Firefox */
}

.flip-clock-wrapper {
position: relative;
}
